@use '../../styles/abstracts';

%flexItemsCenter {
  display: flex;
  align-items: center;
}

.logo {
  @extend %flexItemsCenter;
  gap: 14px;
  &__img {
    width: 32px;
    @include abstracts.screen(lg) {
      width: 24px;
    }
  }
  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;
  }
}
