@use '../../styles/abstracts';

.product-page {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-bottom: 50px;

  background: var(--product-detail-bg);
}

.product-container {
  margin-top: 30px;

  @include abstracts.screen(md) {
    margin-top: 20px;
  }
}

.prod-info-content {
  border-radius: 20px;
  background: var(--product-detail-info-content-bg);
}

.prod-props {
  padding-left: 30px;

  @include abstracts.screen(xxl) {
    padding-left: 10px;
  }

  @include abstracts.screen(lg) {
    padding-left: 0;
  }
}

.prod-prop {
  display: flex;
  gap: 16px;
  margin-top: 30px;

  &__icon {
    align-self: flex-start;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}

.prod-content {
  &__heading {
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 141.667%;
  }
}
