.product-card {
  &__img-skeleton {
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 100% !important;
  }
  .ant-skeleton {
    overflow: hidden;
  }
}
.product-card__row {
  .product-card__price {
    width: 100%;
  }
}
