@use '../../styles/abstracts';

%flexItemsCenter {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);
  padding: 12px 0;
  // position: fixed;
  // width: 100%;
  // top: 0;
  // z-index: 2;
}
.top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  @extend %flexItemsCenter;
  &__logo {
    @include abstracts.screen(lg) {
      // margin-left: 55px;
    }
    @include abstracts.screen(md) {
      // position: absolute;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
      margin-left: 0;
    }
  }
}
