.cart-preview-item {
  text-align: left;

  &__img-wrap {
    position: relative;
    padding-top: 100%;
    border: 1px solid var(--header-act-dropdown-border-color);
    border-radius: 10px;
  }

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 142.857%;
    text-wrap: nowrap;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 146.667%;
  }
}
