@use '../../../../styles/abstracts';
.prod-info {
  padding: 60px;
  border-radius: 10px;
  background: var(--product-detail-info-bg);

  @include abstracts.screen(xxl) {
    padding: 40px;
  }

  @include abstracts.screen(lg) {
    margin-top: 30px;
  }

  @include abstracts.screen(md) {
    border-radius: 20px;
    padding: 0 16px 16px;
    margin-top: 0;
  }

  &__heading {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 138.462%;
  }

  &__label {
    margin-top: 30px;
  }

  & &__tag {
    background: var(--product-detail-tag-bg);
  }

  &__card {
    margin-top: 30px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #b9babe;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__price {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
  }

  &__tax {
    padding: 2px 8px;
    border-radius: 4px;
    margin-left: 10px;
    background: rgb(103 176 68 / 20%);
    color: #67b044;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
  }

  &__total-price {
    margin: 20px 0;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 138.462%;
  }

  &__add-to-cart {
    flex: 1;
  }

  &__like-btn {
    width: 46px;
    height: 46px;
    margin-left: 20px;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    background: transparent;
  }
}
