@use '../../../../styles/abstracts';
.prod-info {
  padding: 20px;
  border-radius: 10px;
  background: var(--product-detail-info-bg);

  // @include abstracts.screen(xxl) {
  //   padding: 40px;
  // }

  @include abstracts.screen(lg) {
    margin-top: 30px;
  }

  @include abstracts.screen(md) {
    border-radius: 20px;
    padding: 0 16px 16px;
    margin-top: 0;
  }
  &__brand {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
    text-decoration: underline;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  &__label {
    margin-top: 20px;
  }

  // & &__tag {
  //   background: var(--product-detail-tag-bg);
  // }

  &__card {
    margin-top: 30px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #b9babe;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__price-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 8px;
  }
  &__old-price {
    font-style: 1.4rem;
    font-weight: 300;
    text-decoration: line-through;
  }
  &__price {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 150%;
    display: flex;
  }
  &__taste {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 8px;
  }
  &__tags {
    display: flex;
    gap: 6px;
    margin-bottom: 8px;
  }
  &__tag {
    padding: 4px 6px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: unset;
  }
  &__desc {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 150%;
  }
  &__tax {
    padding: 2px 8px;
    border-radius: 4px;
    margin-left: 10px;
    background: rgb(103 176 68 / 20%);
    color: #67b044;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
  }

  &__total-price {
    margin: 20px 0;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 138.462%;
  }

  &__add-to-cart {
    flex: 1;
  }

  &__like-btn {
    width: 46px;
    height: 46px;
    margin-left: 20px;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    background: transparent;
  }
}
