@use '../../../../styles/abstracts';
.address-card {
  display: flex;
  margin-top: 30px;
  gap: 16px;

  @include abstracts.screen(md) {
    flex-direction: column;
  }

  &__left {
    flex: 1;
    display: flex;
    gap: 16px;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__desc {
    width: min(520px, 90%);
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 146.667%;
  }

  &__list {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    list-style: disc inside;
    font-size: 1.4rem;
    line-height: 142.857%;

    @include abstracts.screen(sm) {
      flex-direction: column;
      gap: 16px;
    }

    &-item {
      margin-left: 8px;
    }
  }

  &__ctrl {
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    @include abstracts.screen(md) {
      justify-content: flex-end;
    }
  }
}
