.products-page {
  margin-top: 30px;
  margin-bottom: 50px;
}
.product-filter {
  margin-bottom: 20px;
  & .filter {
    &__title {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 16px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    &__item {
      display: flex;
      gap: 6px;
      cursor: pointer;
    }
    &__label {
      flex: 1;
      cursor: pointer;
    }
  }
}
.filter-brand,
.filter-rating {
  margin-top: 20px;
}

.product-content {
  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 16px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
}

.product-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
